:root {
    /* dark purple */
    --color-1: #a56eb2;
    /* dark gold */
    --color-2: #d6b76b;
    /* light purple */
    --color-3: #f0b6ff;
    /* light seeweed */
    --color-4: #7dccb0;
    /* dark seaweed */
    --color-5: #76b29d;
}

#wrapper {
    background: lightgrey;
    background: white;
}

/*About Page*/
#infoBox {
	display: flex;
    flex-direction: column;
    min-height: 100vh; 
    padding: 0px 30px 0px 10px;
    background-color: rgba(242, 241, 242, 0.5);
    position: relative; 
    top: 50px; 
    margin: auto;
    padding-bottom: 500px;
    margin-top: 70px; 
    margin-bottom: 0px; 
    width: 70%;
	max-width: 1000px;
    padding: 10px; 
    overflow: auto;
    font-size: 12pt;
}

#infoBoxText {
	margin: 5%;
	padding: 5px;
	display: block;
	width: 90%;
}

#infoBoxText h1, h2 {
    font-family: 'Ubuntu Condensed', sans-serif;
    color: var(--color-2);
}

#infoBoxText p {
    font-family: 'Railway', sans-serif;
    color: black;
}

.infoBoxPre {
    margin: 5%
    
}

.infoBoxBio {
    display: inline-block;
    width: 40%;
    margin-left: 5%;
    margin-bottom: 70px;
}

#infoBox p{
	display: inline-block;
	vertical-align: top;
}

#infoBox img{
	display: inline-block;
}

h2 {
	display: block;
}

ul {
	display: block;
	font-family: Arial, sans-serif;
}
	
	
