:root {
    /* dark purple */
    --color-1: #a56eb2;
    /* dark gold */
    --color-1: #d6b76b;
    /* light purple */
    --color-1: #f0b6ff;
    /* light seeweed */
    --color-1: #7dccb0;
    /* dark seaweed */
    --color-1: #76b29d;
}

/*Clearance Page*/
#infoBox {
	display: block; 
    padding: 0px 30px 0px 10px;
    background-color: rgba(242, 241, 242, 0.5);
    position: relative; 
    top: 50px; 
    margin: auto;
    margin-bottom: 100px; 
    width: 70%;
	max-width: 1000px;
    padding: 10px; 
    overflow: auto;
}

#infoBoxText {
	margin: auto;
	padding: 0;
	display: block;
	width: 90%;
}

#infoBox p{
	display: inline-block;
	vertical-align: top;
	width:75%
}

#infoBox img{
	display: inline-block;
}

h2 {
	display: block;
}

ul {
	display: block;
	font-family: Arial, sans-serif;
}
	
	
