:root {
    /* dark purple */
    --color-1: #a56eb2;
    /* dark gold */
    --color-2: #d6b76b;
    /* light purple */
    --color-3: #f0b6ff;
    /* light seaweed */
    --color-4: #7dccb0;
    /* dark seaweed */
    --color-5: #76b29d;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
/*    -webkit-text-stroke: 1px white; */
    color: var(--color-3);
    text-align: center;
    font-family: 'Dancing Script', sans-serif;
    z-index: 11;
}

.boxImg {
    display: inline-block;
    position: absolute;
    padding: 0;
/*    z-index: 15; */
}

.boxImg img {
    border-radius: 30px;

}

.boxButton {
    top: 30%;
    margin-top: -100px;
    border-radius: 25px; 
    display: inline-block; 
    background-color: grey;
    border: none;
    color: white;
    padding: 8px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    color: var(--color-4);
    margin: 20px;
    position: absolute;
    right: 0;
    width: 10%;
}

.boxButton:hover {
    background-color: #4f4f4f;
    color: white;
    color: var(--color-2);
}

.boxButton p {
    text-align: center;
    font-family: 'Railway', sans-serif;
}

.boxButton strong {
    text-align: center;
    font-size: 20px;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.boxTextBackground {
    display: inline-block;
    position: absolute;
    width: 330px;
    height: 100px;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -30%);
    padding: 0;
    background: grey;
    opacity: .5;
    z-index: 10;
}

.boxBackground {
    z-index: 5;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    background: transparent;
    background: rgba(255,255,255,.5); 
    position: relative;
    top: 80px;
    padding-bottom: 0px;
    padding-top:100px;
    margin-left: 15%;
    margin-right: 15%;
}

.box {
    display: block; 
    position: relative; 
    top: 0px; 
    margin: auto;
    margin-bottom: 100px; 
    width: 75%;
    padding: 10px; 
    padding-bottom: 0px;  
    height: 425px;
    overflow: auto;
    background-color: transparent;
    z-index: 8;
/*    border: 5px solid #4f4f4f;  */
}

