
html, body {
    height:100%;
    width:100%;
    top:0;
    left:0;
    margin: 0px; 
    padding: 0px; 
}



.box_text_background {
    display: inline-block;
    position: absolute;
    width: 330px;
    height: 100px;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -30%);
    padding: 0;
    background: grey;
    opacity: .5;
    z-index: 10;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
/*    -webkit-text-stroke: 1px white; */
    color: #ffc0cb;
    text-align: center;
    z-index: 11;
}

.box_img {
    display: inline-block;
    position: absolute;
    padding: 0;
/*    z-index: 15; */
}

.box_img img {
    border-radius: 30px;

}

.box_button {
    top: 35%;
    margin-top: -100px;
    border-radius: 25px; 
    display: inline-block; 
    background-color: grey;
    border: none;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    color: pink;
    margin: 20px;
    position: absolute;
    right: 0;
    width: 120px;
}

.box {
    display: block; 
    position: relative; 
    top: 100px; 
    margin: auto;
    margin-bottom: 100px; 
    width: 60%;
    padding: 10px; 
    height: 425px;
    overflow: auto;
    background-color: transparent;
/*    border: 5px solid #4f4f4f;  */
}







