:root {
    /* dark purple */
    --color-1: #a56eb2;
    /* dark gold */
    --color-2: #d6b76b;
    /* light purple */
    --color-3: #f0b6ff;
    /* light seaweed */
    --color-4: #7dccb0;
    /* dark seaweed */
    --color-5: #76b29d;
}

/*Tops page*/

#wrapper {
	background-image: url("../images/mosaicBackground.jpg");
	background-color: lightgrey;
}
.category {
	display: block;
	position: relative;
	margin: auto;
	margin-top: 75px;
	width: 70%;
	padding: 0;
}

.row {
	display: block;
	border-radius: 20px;
	position: relative;
	margin: 0 0 25px 0;
	background-color: rgba(242, 241, 242, 0.5);
	padding: 0;
	width: 100%;
	
}

.itemFrame {
	margin: 10px 0 10px 10px;
	display: inline-block;
	position: relative;
}

.itemFrame img {
	height: 200px;
	width: 200px;
	border-radius: 30px;
	transition: .3s ease;
}

.itemInfo {
	transition:.3s ease;
	position: absolute;
	bottom: 0px;
    right: 0px;
	opacity: 0;
	background-color: gray;
	height: 40px;
	width: 80px;
	z-index: 20;
	border-radius: 50px 5px;
	font-family: 'Railway', sans-serif;
	font-size: 20px;
	text-align: center;
	line-height: 40px;
	vertical-align: middle;
	color: var(--color-2);
}

.itemFrame:hover img {
	border: 1px solid #FFFB0F;
	height: 198px;
	width: 198px;
	opacity: 0.8;
}

.itemFrame:hover .itemInfo {
	opacity: 1;
}

#expandButton {
	display: block;
	border: none;
	float: left;
	color: var(--color-4);
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
	border-radius: 25px;
    font-size: 17px;
	background-color: grey;
	margin: auto;
	font-family: 'Railway', sans-serif;
}

#expandButton:hover {
	background-color: #4f4f4f;
    color: white;
    color: var(--color-2);
}

h2 {
	margin: 100px 0 10px 0;
	display: block;
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 30px;
	color: var(--color-2);
}
