:root {
    --color-1: #b26e78;
    --color-2: #fffdcf;
    --color-3: #ffb6c1;
    --color-4: #7db4cc;
    --color-5: #76a0b2;
}

/*Tops page*/
.category {
	display: block;
	position: relative;
	margin: auto;
	margin-top: 75px;
	width: 70%;
	padding: 0;
}

.row {
	display: block;
	border-radius: 20px;
	position: relative;
	margin: 0 0 25px 0;
	background-color: rgba(242, 241, 242, 0.5);
	padding: 0;
	width: 100%;
	
}

.itemFrame {
	margin: 10px 0 10px 10px;
	display: inline-block;
	position: relative;
}

.itemFrame img {
	height: 200px;
	width: 200px;
	border-radius: 30px;
	transition: .3s ease;
}

.itemInfo {
	transition:.3s ease;
	position: absolute;
	bottom: 0px;
    right: 0px;
	opacity: 0;
	background-color: #4f4f4f;
	height: 40px;
	width: 80px;
	z-index: 20;
	border-radius: 50px 15px;
	font-family: 'Railway', sans-serif;
	font-size: 20px;
	text-align: center;
	line-height: 40px;
	vertical-align: middle;
	color: gold;
}

.itemFrame:hover img {
	border: 1px solid #FFFB0F;
	height: 198px;
	width: 198px;
	opacity: 0.3;
}

.itemFrame:hover .itemInfo {
	opacity: 1;
}

#expandButton {
	display: block;
	border: none;
	float: left;
	color: pink;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
	border-radius: 25px;
    font-size: 17px;
	background-color: grey;
	margin: auto;
	font-family: 'Railway', sans-serif;
}

#expandButton:hover {
	background-color: #4f4f4f;
    color: white;
}

h2 {
	margin: 50 0 0 0;
	display: block;
}
